<md-dialog  ng-cloak ng-controller="StreamDlgController as vm">
  <form name="vm.streamForm" novalidate>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        <h1>Configure Stream</h1>
        <md-input-container>
          <label>Name</label>
          <input ng-model="vm.dataModel.name" name="name" required>
          <label ng-show="vm.streamForm.name.$invalid && vm.showErr" class="help-block">Name is required.</label>
        </md-input-container>
        <md-input-container>
          <label>Unit</label>
          <input ng-model="vm.dataModel.unit" name="unit" required>
          <label ng-show="vm.streamForm.unit.$invalid && vm.showErr" class="help-block">Unit is required.</label>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      
      <span flex></span>
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button class="savebtn" ng-click="vm.save(vm.dataModel)" style="margin-right:20px;">
        Save
      </md-button>
    </div>
  </form>
</md-dialog>